@prefix oa: <http://www.w3.org/ns/oa#> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix frbr: <http://purl.org/vocab/frbr/core#> .
@prefix pelagios: <http://pelagios.github.io/terms#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .

{{#things}}
<{{uri}}> a pelagios:AnnotatedThing ; 
  dcterms:title "{{title}}" ;
  .

{{#expressions}}
<{{uri}}> a pelagios:AnnotatedThing ; 
  dcterms:title "{{title}}" ;
  .

{{#annotations}}
<{{uri}}> a oa:Annotation ;
  {{#place}}
  oa:hasBody <{{.}}> ;
  {{/place}}
  
  {{#transcription}}
  oa:hasBody [ rdfs:label "{{name}}" ; a pelagios:{{nameType}} ] ;
  {{/transcription}}
  
  oa:hasTarget <{{hasTarget}}> ;
  {{#hasNeighbour}}
  pelagios:hasNext [ {{#annotation}}pelagios:neighbourURI <{{uri}}> ; {{/annotation}} ]
  {{/hasNeighbour}}
  .

{{/annotations}}  
{{/expressions}}
{{/things}}