@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix pelagios: <http://pelagios.github.io/terms#> .
@prefix layout: <http://pelagios.github.io/layout#> .
@prefix frbr: <http://purl.org/vocab/frbr/core#> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix oa: <http://www.w3.org/ns/oa#> .

{{#things}}
<{{uri}}> a pelagios:AnnotatedThing ; 
  dcterms:title "{{title}}" ;
  .

{{#expressions}}
<{{uri}}> a pelagios:AnnotatedThing ;
  {{#realizationOf}} 
  frbr:realizationOf <{{uri}}> ;
  {{/realizationOf}}
   
  dcterms:title "{{title}}" ;
  .

{{#annotations}}
<{{uri}}> a oa:Annotation ;
  {{#place}}
  oa:hasBody <{{.}}> ;
  {{/place}}
  
  {{#transcription}}
  oa:hasBody [ rdfs:label "{{name}}" ; a pelagios:{{nameType}} ] ;
  {{/transcription}}
  
  oa:hasTarget <{{hasTarget}}> ;
  {{#links}}
  layout:hasNext [ {{#to}}
                   layout:next <{{uri}}> ;
                   {{/to}} 
                   layout:distance "{{distance}}" ;
                   layout:unit "{{unit}}" ] ;
  {{/links}}
  .

{{/annotations}}  
{{/expressions}}
{{/things}}