@prefix cnt: <http://www.w3.org/2011/content#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix seq: <http://pelagios.github.io/vocab/sequence#> .
@prefix pelagios: <http://pelagios.github.io/vocab/terms#> .
@prefix oa: <http://www.w3.org/ns/oa#> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix dcterms: <http://purl.org/dc/terms/> .
@prefix frbr: <http://purl.org/vocab/frbr/core#> .

{{#things}}
<{{uri}}> a pelagios:AnnotatedThing ; 
  dcterms:title "{{title}}" ;
  .

{{#expressions}}
<{{uri}}> a pelagios:AnnotatedThing ;
  {{#realizationOf}} 
  frbr:realizationOf <{{uri}}> ;
  {{/realizationOf}}
   
  dcterms:title "{{title}}" ;
  .

{{#annotations}}
<{{uri}}> a oa:Annotation ;
  {{#place}}
  oa:hasBody <{{.}}> ;
  {{/place}}
  
  {{#transcription}}
  oa:hasBody [ cnt:chars "{{chars}}" ; a pelagios:{{nameType}} ] ;
  {{/transcription}}
  
  oa:hasTarget <{{hasTarget}}> ;
  {{#index}}
  seq:index "{{.}}"^^xsd:integer ;
  {{/index}}
  
  {{#distanceToNext}}
  seq:distance [ {{#label}} rdfs:label  "{{label}}" ; {{/label}} {{#weight}} seq:weight "{{.}}"^^xsd:integer {{/weight}} ]
  {{/distanceToNext}}
  .

{{/annotations}}  
{{/expressions}}
{{/things}}